.left{float: left;}
.right{float: right;}

.header{
  width: 100%;
  flex-wrap: nowrap;
}

/* Logo */
.header .logo{
  max-width: 170px;
  margin-right: 30px;
}

/* Search */

.header form{
  padding: 0px !important;
}

.header form .hs-search-field__input{
  padding: 0px;
  line-height: 0px;
  height: 22px;
}

.header .search{
  height: 30px;
  position: relative;
}

.header .search .search-field{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 7px 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #D1DAE6;
}

.header .search .search-field .search-icon{
  max-height: 17px;
}

.header .search .search-field .search-input{
  width: 90%;
}

.header .search .search-field input,
input:focus{
  border: none;
  outline: 0;
  width: 100%;
}

.header .search .search-icon{
  top: 3px;
  position: relative;
  margin-right: 5px;
}


input::placeholder {
  color: #51545D !important;
  font-size: 12px !important;
}

input:focus::placeholder {
  color: #aeb2bf !important;
}

/* Menu */
.header .header_menu{
  padding: 10px;
  font-size: 14px;
}

.header_menu .button{
  margin: 10px !important;
  height: 35px !important; 
}

.header_menu .button.primary{
  color: #ffffff !important;
}

li.hs-menu-item{
  margin: 0px 15px;
  cursor: pointer;
}

.hs-menu-item a{
  text-decoration: none;
  color: #51545D !important;
}

.hs-menu-item a:hover{
  text-decoration: underline;
}

.arrow {
  border: solid #000;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  top: -2px;
  margin: 0px 3px;
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


.menu_full{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.hs-menu-wrapper ul.hs-menu-children-wrapper{
  margin-top: 5px;
  padding: 5px;
  background: #fff;
  border: solid 1px #e3e3e3;
  border-radius: 5px;
  display: flex !important;
}

li.hs-menu-item{
  margin: 10px 15px;
}

.hs-menu-children-wrapper{
  opacity: 0;
  top: 12px;
}

.submenu-active{
  opacity: 1 !important;
  left: -30px !important;
  top: 100% !important;
  z-index: 1;
  transition: ease .5s;
}

.submenu-closed{
  opacity: 0 !important;
  left: -30px !important;
  top: 70% !important;
  z-index: -1;
  transition: ease .5s;
}


@media only screen and (max-width: 1200px) {
/*   .header_menu{
    display: none;
  } */

/*   .menu_mobile{
    height: 500px;
    width: 200px;
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    background: #fff;
    padding-top: 70px;
    box-shadow: 0 30px 10px rgb(0 0 0 / 0.2);
  }

  .container {
    display: inline-block;
    cursor: pointer;
    float: right;
    padding: 15px;
  }
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
} */
}