{####################################################}
{############### Header components ##################}
{####################################################}

{# Logo #}

{% if module.header_type == "light" %}

{% set has_logo = (module.logo_light.logo.override_inherited_src and module.logo_light.logo.src) or (not module.logo_light.logo.override_inherited_src and brand_logo.src) or (not module.logo_light.logo.suppress_company_name) %}

{% macro logo() %}

  {% unless (module.logo.link is string_startingwith "http") or (module.logo.link is string_startingwith "/") or (module.logo.link is string_startingwith "mailto") or (module.logo.link is string_startingwith "#") or !module.logo.link %}
    {% set link = "//" ~ module.logo.link %}
  {% else %}
    {% set link = module.logo.link || "" %}
  {% endunless %}

  <div class="header__logo">

    {% if link %}
      <a class="header__logo-link" href="{{ link }}" {% if module.logo.open_in_new_tab %}target="_blank" rel="noopener"{% endif %}>
    {% endif %}

      {# If override is turned on for the logo field and a logo image is provided #}

      {% if module.logo_light.logo.override_inherited_src && module.logo_light.logo.src %}

        <img class="header__logo-image" src="{{ module.logo_light.logo.src }}" loading="eager" alt="{{ module.logo_light.logo.alt }}" height="{{ module.logo_light.logo.height }}" width="{{ module.logo_light.logo.width }}">

      {# If override is turned off for the logo field and a logo image is set in site settings #}

      {% elif !module.logo_light.logo.override_inherited_src && brand_logo.src %}

        <img class="header__logo-image" src="{{ brand_logo.src }}" loading="eager" alt="{{ brand_logo.alt }}" height="{{ brand_logo.height }}" width="{{ brand_logo.width }}">

      {# If no image is provided and "show company name when logo isn't set" is equal to true #}

      {% else %}

        {% if !module.logo_light.logo.suppress_company_name %}
          <span class="header__logo-company-name">{{ site_settings.company_name }}</span>
        {% endif %}

      {% endif %}

    {% if link %}
      </a>
    {% endif %}

  </div>

{% endmacro %}

{% elif module.header_type == "dark" %}

{% set has_logo = (module.logo_dark.logo.override_inherited_src and module.logo_dark.logo.src) or (not module.logo_dark.logo.override_inherited_src and brand_logo.src) or (not module.logo_dark.logo.suppress_company_name) %}

{% macro logo() %}

  {% unless (module.logo.link is string_startingwith "http") or (module.logo.link is string_startingwith "/") or (module.logo.link is string_startingwith "mailto") or (module.logo.link is string_startingwith "#") or !module.logo.link %}
    {% set link = "//" ~ module.logo.link %}
  {% else %}
    {% set link = module.logo.link || "" %}
  {% endunless %}

  <div class="header__logo">

    {% if link %}
      <a class="header__logo-link" href="{{ link }}" {% if module.logo.open_in_new_tab %}target="_blank" rel="noopener"{% endif %}>
    {% endif %} 

      {# If override is turned on for the logo field and a logo image is provided #}

      {% if module.logo_dark.logo.override_inherited_src && module.logo_dark.logo.src %}

        <img class="header__logo-image" src="{{ module.logo_dark.logo.src }}" loading="eager" alt="{{ module.logo_dark.logo.alt }}" height="{{ module.logo_dark.logo.height }}" width="{{ module.logo_dark.logo.width }}">

      {# If override is turned off for the logo field and a logo image is set in site settings #}

      {% elif !module.logo_dark.logo.override_inherited_src && brand_logo.src %}

        <img class="header__logo-image" src="{{ brand_logo.src }}" loading="eager" alt="{{ brand_logo.alt }}" height="{{ brand_logo.height }}" width="{{ brand_logo.width }}">

      {# If no image is provided and "show company name when logo isn't set" is equal to true #}

      {% else %}

        {% if !module.logo_dark.logo.suppress_company_name %}
          <span class="header__logo-company-name">{{ site_settings.company_name }}</span>
        {% endif %}

      {% endif %}

    {% if link %}
      </a>
    {% endif %}

  </div>

{% endmacro %}

{% endif %}

{####################################################}
{################# Module styles ####################}
{####################################################}

{% require_css %}
<style>
{% scope_css %}

  .header__container {
    {% if module.styles.background.color.color %}
      background-color: rgba({{ module.styles.background.color.color | convert_rgb }}, {{ module.styles.background.color.opacity / 100 }});
    {% endif %}
  }

{% end_scope_css %}
  
  {% if module.header_type == "light" %}
    .header__container{
      background-color: #FFFFFF;
    }
  {% elif module.header_type == "dark" %}
    .header__container{
      background-color: #000000;
    }
  {% endif %}
  
  .header__wrapper{
    {{ module.styles.spacing.spacing.css }}
  }
  
</style>
{% end_require_css %}

{####################################################}
{################# Header layout ####################}
{####################################################}


{# Logo centered layout #}

<div class="header__container">
  <div class="header__wrapper">
    {% if has_logo %}
      {{ logo() }}
    {% endif %}
  </div>
</div>

