<!--
  templateType: email_subscriptions_confirmation_page
  isAvailableForNewContent: true
  label: Growth - email subscriptions confirmation
  screenshotPath: ../../images/sb-confirm.png
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/subscriptions-base.html" %}

{% block body %}
<section class="content-wrapper">
  <div class="systems-page">

    {# Subscription confirmation title #}
    <div style="text-align:center; margin-bottom:3rem" >
      <h2 style="color:#303B45 !important;">Email Unsubscribe</h2>
    </div>
    {# Subscriptions confirmation #}

    {% module "subscriptions_confirmation"
      path="@hubspot/email_subscriptions_confirmation"
    %}

  </div>
  <script> 
    $(document).ready(function() {
      setTimeout(function() {
        window.location = "https://39949406.hs-sites.com/unsubscribe-form";
      });
    });
  </script>
</section>
{% endblock body %}
