{% require_css %}
<style type="text/css">
  {% scope_css %} 


  .{{name}}-custom-accordion .body{
    position: relative;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin-bottom: 40px;
  }
  .{{name}}-custom-accordion .{{name}}-head{
    height: auto;
    color: #323E48;
    padding: 20px;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .{{name}}-custom-accordion .{{name}}-head h5{
    /*   font-family: Avenir; */
    font-family: {{theme.fonts.tertiary.font}};
    margin: 0px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    transition: 0.25s ease;
  }
/*   .{{name}}-custom-accordion .{{name}}-head.active h5{
    transition: 0.25s ease;
  } */
  
  .{{name}}-custom-accordion .{{name}}-head .cross-stroke{
    stroke: #0043BF;
    transition: 0.25s ease;
  }

  .{{name}}-custom-accordion .active .cross-stroke{
    transition: 0.25s ease;
    stroke: #0043BF;
  }
  .{{name}}-custom-accordion .{{name}}-head .cross-arrow{
    width: 32px;
    height: auto;
    transition: 0.25s ease;
  }
  .{{name}}-custom-accordion .{{name}}-head .arrow-animate{
    transform: rotate(135deg);
    opacity: 1;
  }

  .{{name}}-custom-accordion .content{
    background-color: #FFFFFF;
    display: none;
    padding: 0 34px 30px;
    border-radius: 0 0 12px 12px;
    /*   color: #63666A; */
  }
  .{{name}}-custom-accordion .content.one{
    display: block;
  }
  .{{name}}-custom-accordion .content > div{
    padding-top: 32px;
    border-top: 1.5px solid #D8D8DA;
  }
  .{{name}}-custom-accordion .content > div :is(h1,h2,h3,h4,h5,h6,p){
    margin-bottom: 18px;
  }

  .accordian-button-container{
    width:100%;
    text-align:center;
  }
  .accordian-button{
    font-size: 24px;
    cursor:pointer;
    padding:3px;
    font-weight: 400; 
    line-height: 32px; 
    letter-spacing: 0em;
  }
  .accordian-button .hidden {
    display: none !important;
  }

  .accordian-row-hidden{
    display: none !important;
  }




  @media screen and (max-width: 767px){
    .{{name}}-custom-accordion .{{name}}-head.active h3{
      font-size: 22px;
      line-height: 28px;
    }
  }



  .accordian-button {
    color: {{theme.colors.primary.color}};
  }
  {% if module.style.header_color.color %}
  .{{name}}-custom-accordion .{{name}}-head h5{
    color: rgba({{ module.style.header_color.color | convert_rgb }}, {{ module.style.header_color.opacity / 100 }});
  }
  {% endif %}

  {% if module.style.content_color.color %}
  .{{name}}-custom-accordion .{{name}}-head.active h5
  color: rgba({{ module.style.content_color.color | convert_rgb }}, {{ module.style.content_color.opacity / 100 }});
  }
  {% endif %}

  {% end_scope_css %}

  .{{name}}-custom-accordion .{{name}}-head h5{
    color: {{ theme.colors.secondary.color }};
    text-transform:none;
  }

  .{{name}}-custom-accordion .{{name}}-head.active h5{
    color: {{ theme.colors.primary.color }};
    /*     text-transform:uppercase; */
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }
  .{{name}}-custom-accordion .content > div :is(h1,h2,h3,h4,h5,h6,p){
    color: #5B6770;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .accordian-button {
    font-family: {{ theme.fonts.secondary.font }};
  }
</style>
{% end_require_css %}


<div class="{{name}}-custom-accordion">
  {% for item in module.accordion %}
  <div class="body content-row accordian-row-hidden">
    <div class="{{name}}-head faq">
      <span>
       <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="cross-arrow">
        <circle cx="16" cy="16.7832" r="14.5" stroke-width="3" class="cross-stroke"/>
        <path d="M6.85735 16.7832H25.1431" stroke-width="3" class="cross-stroke"/>
        <path d="M16 7.64007L16 25.9258" stroke-width="3" class="cross-stroke"/>
      </svg>
      </span>
      
      <h5>{{ item.header }}</h5>
    </div>

    <div class="content">
      <div>
        {{ item.content }}
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="accordian-button-container">
    <span class="accordian-button show hidden" >Show all...</span>
  </div>
</div>

<script>

  var testimonialClass = '{{"."~name~"-custom-accordion"}}';
  var head = '{{"."~name~"-head"}}';


  var accordianRowLimit = 3;
  var accordianRowCount = $(testimonialClass + '.content-row').length;
  var hiddenRowCount = document.querySelectorAll(testimonialClass + ' .content-row.accordian-row-hidden').length;
  var showAllRows = false;

  $(head).click(function(){  
    $(this).toggleClass('active');
//     $(this).parent().find('span .cross-arrow').toggleClass('arrow-animate');
//     $(this).closest(".cross-arrow").toggleClass("arrow-animate");
    $(this).parent().find('.content').slideToggle(280);
  });


  $( testimonialClass + " .content-row" ).each(function(index) {
    $( this ).removeClass( "accordian-row-hidden" );
    if( (index+1) == accordianRowLimit ){
      return false;
    }
  });

  if(accordianRowLimit < accordianRowCount){
    $( ".accordian-button" ).removeClass( "hidden" );
  }

  $('.accordian-button').click(function(){
    var $this = $(this);
    $this.toggleClass('show');
    if($this.hasClass('show')){
      $this.text('SHOW ALL');  
    } else {
      $this.text('SHOW LESS');
    }
  });

  $('.accordian-button').click(function(){
    if( showAllRows == false){
      $( testimonialClass + " .content-row" ).each(function(index) {
        $( this ).removeClass( "accordian-row-hidden" );
      });
      showAllRows = true;
    }else{
      $( testimonialClass + " .content-row" ).addClass( "accordian-row-hidden" );
      $( testimonialClass + " .content-row" ).each(function(index) {
        $( this ).removeClass( "accordian-row-hidden" );
        if( (index+1) == accordianRowLimit ){
          return false;
        }
      });
      showAllRows = false;
    }
  });
</script>

