{# Module styles #}

{% require_css %}
<style type="text/css">
{% scope_css %}

  {# Image #}

  

  {# Content #}

  {% if module.styles.content.alignment.alignment.text_align %}
    .floating-card__content {
      text-align: {{ module.styles.content.alignment.alignment.text_align }};
    }
  {% endif %}
  
  {# Card #}

  .floating-card {
    {% if module.styles.card.background.color.color %}
      background-color: rgba({{ module.styles.card.background.color.color | convert_rgb }}, {{ module.styles.card.background.color.opacity / 100 }});
    {% endif %}
    {{ module.styles.card.border.border.css }}
    {% if module.styles.card.corner.radius >= 0 %}
      border-radius: {{ module.styles.card.corner.radius ~ "px" }};
    {% endif %}
    {% if module.styles.card.height.min_height %}
      min-height: {{ module.styles.card.height.min_height ~ "px" }};
    {% endif %}
    {{ module.styles.card.spacing.spacing.css }}
    {% if module.styles.card.alignment.alignment.text_align %}
      text-align: {{ module.styles.card.alignment.alignment.text_align }};
    {% endif %}
  }

  {# Button #}

  {% if module.styles.button.alignment.alignment %}
    .floating-card__button-wrapper {
      text-align: {{ module.styles.button.alignment.alignment.horizontal_align }};
    }
  {% endif %}

  .button {
    {% if module.styles.button.background.color.color %}
      background-color: rgba({{ module.styles.button.background.color.color|convert_rgb }}, {{ module.styles.button.background.color.opacity / 100 }});
    {% endif %}
    {{ module.styles.button.border.border.css }}
    {% if module.styles.button.corner.radius >= 0 %}
      border-radius: {{ module.styles.button.corner.radius ~ "px" }};
    {% endif %}
    {% if module.styles.button.text.font.color %}
      color: {{ module.styles.button.text.font.color }};
    {% endif %}
    {% if module.styles.button.text.font.size %}
      font-size: {{ module.styles.button.text.font.size ~ module.styles.button.text.font.size_unit }};
    {% endif %}
    {% if module.styles.button.text.font.style %}
      {{ module.styles.button.text.font.style }};
    {% endif %}
    {{ module.styles.button.spacing.spacing.css }}
    {% if module.styles.button.text.transform %}
      text-transform: {{ module.styles.button.text.transform }};
    {% endif %}
  }

  {% if module.add_icon && module.icon.icon && module.styles.button.text.font.color %}
    .button svg {
      fill: {{ module.styles.button.text.font.color }};
    }
  {% endif %}

  .button:hover,
  .button:focus {
    {{ module.styles.button.hover.border.border.css }}
    {% if module.styles.button.hover.text.font.color %}
      color: {{ module.styles.button.hover.text.font.color }};
    {% endif %}
    {% if module.styles.button.hover.text.font.size %}
      font-size: {{ module.styles.button.hover.text.font.size ~ module.styles.button.hover.text.font.size_unit }};
    {% endif %}
    {% if module.styles.button.hover.text.font.style %}
      {{ module.styles.button.hover.text.font.style }};
    {% endif %}
    {% if module.styles.button.hover.background.color.color %}
      background-color: rgba({{ module.styles.button.hover.background.color.color|convert_rgb }}, {{ module.styles.button.hover.background.color.opacity / 100 }});
    {% endif %}
  }

  {% if module.add_icon && module.icon.icon && module.styles.button.text.font.color %}
    .button:hover svg,
    .button:focus svg {
      fill: {{ module.styles.button.hover.text.font.color }};
    }
  {% endif %}

  .button:active {
    {% if module.styles.button.hover.background.color.color %}
      background-color: rgba({{ color_variant(module.styles.button.hover.background.color.color, 80)|convert_rgb }}, {{ module.styles.button.hover.background.color.opacity / 100 }});
    {% endif %}
    {{ module.styles.button.hover.border.border.css }}
    {% if module.styles.button.hover.border.border.top.color %}
      border-color: {{ color_variant(module.styles.button.hover.border.border.top.color, 80) }};
    {% endif %}
    {% if module.styles.button.hover.text.font.color %}
      color: {{ module.styles.button.hover.text.font.color }};
    {% endif %}
    {% if module.styles.button.hover.text.font.size %}
      font-size: {{ module.styles.button.hover.text.font.size ~ module.styles.button.hover.text.font.size_unit }};
    {% endif %}
    {% if module.styles.button.hover.text.font.style %}
      {{ module.styles.button.hover.text.font.style }};
    {% endif %}
  }

  {% if module.add_icon && module.icon.icon && module.styles.button.text.font.color %}
    .button:active svg {
      fill: {{ module.styles.button.hover.text.font.color }};
    }
  {% endif %}

{% end_scope_css %}
  .floating-card.card--plain {
    background-color: {{ theme.colors.body_background_color.color }};
    border: 1px solid #EEE;
  }
  
/*   .floating-card .floating-card__content-wrapper .floating-card__content :is(h5, h6){
    color: #30383B;
  } */
</style>
{% end_require_css %}

{# Sets CSS classes based on style field options #}

{% if module.styles.icon.presets.icon_size == "small" %}
  {% set icon_size = "icon--small" %}
{% elif module.styles.icon.presets.icon_size == "large" %}
  {% set icon_size = "icon--large" %}
{% endif %}

{% if module.styles.icon.presets.icon_color == "light" %}
  {% set icon_color = "icon--light" %}
{% endif %}

{% if module.styles.icon.presets.icon_shape == "square" %}
  {% set icon_shape = "icon--square" %}
{% endif %}

{% if module.styles.button.presets.button_style == "primary" %}
  {% set button_style = "button--primary" %}
{% elif module.styles.button.presets.button_style == "secondary" %}
  {% set button_style = "button--secondary" %}
{% elif module.styles.button.presets.button_style == "simple" %}
  {% set button_style = "button--simple" %}
{% endif %}

{% if module.styles.button.presets.button_size == "small" %}
  {% set button_size = "button--small" %}
{% elif module.styles.button.presets.button_size == "large" %}
  {% set button_size = "button--large" %}
{% endif %}

{% if module.button.icon.position == "right" %}
  {% set icon_position = "button--icon-right" %}
{% endif %}

{% if module.styles.card.presets.card_style == "dark" %}
  {% set card_style = "card--dark" %}
  {% set button_mode = "button--dark" %}
{% elif module.styles.card.presets.card_style == "light" %}
  {% set card_style = "card--light" %}
{% else %}
  {% set card_style = "card--plain" %}
{% endif %}

{# Floating card #}
<div class="floating-card {% if module.flip_sides %}fliped{% endif %} {{ card_style }}">

  {# Image #}

  <div class="floating-card__image">
    {% if module.image.image.src %}
      {% set sizeAttrs = 'width="{{ module.image.image.width }}" height="{{ module.image.image.height }}" style="max-width: 393px; width: 100%; height: auto;"' %}
      {% set loadingAttr = module.image.image.loading != 'disabled' ? 'loading="{{ module.image.image.loading }}"' : '' %}
      <img src="{{ module.image.image.src }}" alt="{{ module.image.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
    {% endif %}
  </div>

  {# Content #}
  <div class="floating-card__content-wrapper">
    <div class="floating-card__content">
      {{ module.content.content }}

      {# Button #}

      {# Sets attributes used for the link field #}

      {% set href = module.button.button_link.url.href %}
      {% if module.button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
      {% endif %}
      {% set rel = [] %}
      {% if module.button.button_link.no_follow %}
      {% do rel.append("nofollow") %}
      {% endif %}
      {% if module.button.button_link.open_in_new_tab %}
      {% do rel.append("noopener") %}
      {% endif %}

      {% if module.show_button %}
      <div class="floating-card__button-wrapper">
        <a href="{{ href }}" class="button {{button_style}} {{button_size}} {{button_mode}} {{icon_position}}"
           {% if module.button.button_link.open_in_new_tab %}target="_blank"{% endif %}
           {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
           >
          {% if module.button.add_icon && module.button.icon.icon %}
          {% icon
              extra_classes="button__icon"
              name="{{ module.button.icon.icon.name }}"
              purpose="decorative"
              style="{{ module.button.icon.icon.type }}"
              unicode="{{ module.button.icon.icon.unicode }}"
            %}
          {% endif %}
          {{ module.button.button_text }}
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
